 /* Apartado de personalización */

        /* Color de fondo de la barra de navegación lateral */
        .sidebar {
            background-color: #0c0e1a; /* Cambia este valor para personalizar el color de fondo */
        }

        /* Color de los enlaces de la barra de navegación */
        .sidebar .nav-link {
            color: #adb5bd; /* Cambia este valor para personalizar el color de los enlaces */
        }

        /* Color de los enlaces activos */
        .sidebar .nav-link.active {
            color: #ffffff; /* Cambia este valor para personalizar el color del enlace activo */
            background-color: #0fa4df; /* Fondo del enlace activo */
        }

        /* Color al pasar el cursor por encima de los enlaces */
        .sidebar .nav-link:hover {
            color: #ffffff; /* Cambia este valor para personalizar el color al pasar el cursor */
            background-color: #495057; /* Cambia este valor para el fondo en hover */
        }

        /* Estilo adicional para que el sidebar se mantenga fijo */
        body {
            font-size: 0.875rem;
        }

        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: 0.5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        /* Estilo del contenido principal */
        .content {
            padding-top: 20px;
        }